.Form {
  width: 85%;
  border: darkgray;
  display: inline-block;
}
.ButtonAdd {
  font-size: 20px;
  height: 41px;
  width: 66px;
}

.SortSelect {
  font-size: 17px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 5px;
  outline: 0;
  height: 30px;
  padding: 0 1em;
  cursor: pointer;
}

.SortSelect:hover {
  background-color: gainsboro;
  border: 5px;
}

.StarButton {
  padding: 20px;
}

.StarButton > svg {
  height: 15px;
  fill: #ffac33;
}

@media (max-width: 490px) {
  .ButtonAdd {
    font-size: 17px;
    height: 32px;
    width: 56px;
  }

  .StarButton {
    padding: 14px;
  }

  .SortSelect {
    font-size: 17px;
    height: 32px;
  }
}
@media print {
  .Form {
    display: none;
  }
}
