.Logo {
  padding: 10px;
  margin: 6px 10px;
  background-color: transparent;
  height: 123px;
  width: auto;
}

.NavBar {
  max-width: 220px;
  width: 30%;
  margin: 0%;
  height: 100vh;
  padding: 0;
  background-color: #f4f4f4;
}

.List {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: black;
  padding: 24px;
  margin-top: 80%;
  line-height: 45px;
}

i {
  padding: 10px;
}

.Count {
  padding: 5px;
}

.Star1 {
  font-size: 75px;
  color: cornflowerblue;
  position: relative;
  display: inline-block;
}

.Star1:after {
  content: "1";
  font-size: 16px;
  color: white;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -20%);
}

.StarContent {
  position: absolute;
  top: 37%;
  left: 37%;
  z-index: 999999;
  text-align: center;
}
.StarContent span {
  color: #fff;
}

@media (max-width: 490px) {
  .Logo {
    height: 72px;
    width: auto;
    margin: 0;
    padding: 7px 0px;
  }
  .NavBar {
    max-width: 100%;
    width: 100%;
    height: 95px;
    position: fixed;
    top: 0px;
    bottom: -15px;
    padding: 3px;
  }

  .List {
    font-size: medium;
    color: black;
    margin-top: -113px;
    margin-left: 77px;
    line-height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  i::after {
    display: none;
  }
}
