.Form {
  width: 85%;
  border: darkgray;
  display: inline-block;
}
.ButtonAdd {
  font-size: 20px;
  height: 41px;
  width: 66px;
}

@media (max-width: 490px) {
  .ButtonAdd {
    font-size: 17px;
    height: 32px;
    width: 56px;
  }
}
