.Main {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100vh;
  width: 100wh;
}

.Body {
  width: 100%;
}

.Header {
  height: 300px;
  width: 100%;
  background-color: #ff6575;
  border: solid 1px gray;
}

.Canvas {
  text-align: center;
}

@media (max-width: 490px) {
  .Main {
    flex-direction: column;
  }

  .Header {
    margin-top: 95px;
    height: auto;
  }
}
