.ListItems {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 600px;
  padding: 8px 8px 0 8px;
  list-style: none;
  align-items: center;
}

.ListItems > *:not(:last-child) {
  margin-right: 20px;
}

.StarButton {
  background-color: transparent;
  border: 1px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  height: 20px;
}

.StarButton > svg {
  height: 100%;
  fill: black;
}

.StarButtonActive > svg {
  fill: yellow;
}

.RmvButton {
  height: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in;
  background-color: transparent;
  color: gray;
  padding: 0px;
  margin: 0px;
}
.strikethrough {
  margin: 0px;
}
.strikethrough:checked + span {
  text-decoration: line-through;
}
